* {
  margin: 0;
  font-family: roc-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  --color-text: #111;
  --color-link: #b19e7f;
  --color-link-hover: #000;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: background-color 2s, color 2s, nav 2s, a 2s;
  transition: background-color 2s, color 2s, nav 2s, a 2s;
  background-color: white;
  color: black;
}

body a {
  color: black;
}

body .light {
  background-image: url("/assets/lightbulb.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  height: 25px;
  width: 29.12px;
}

body .medium {
  background-image: url("/assets/medium-light.svg");
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

@media (max-width: 1100px) {
  body .medium {
    width: 25px;
    height: 25px;
    background-size: 25px;
  }
}

body .linkedin {
  background-image: url("/assets/linkedin-light1.png");
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

@media (max-width: 1100px) {
  body .linkedin {
    width: 25px;
    height: 25px;
    background-size: 25px;
  }
}

body .github {
  background-image: url("/assets/github-logo.png");
  background-position: center;
  background-size: 40px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1100px) {
  body .github {
    width: 25px;
    height: 25px;
    background-size: 25px;
  }
}

.dark-mode {
  background-color: #1a1a1a;
  color: #ededed;
}

.dark-mode a {
  color: white;
}

.dark-mode .linkedin {
  background-image: url("/assets/linkedin-light.png");
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

@media (max-width: 1100px) {
  .dark-mode .linkedin {
    width: 25px;
    height: 25px;
    background-size: 25px;
  }
}

.dark-mode .medium {
  background-image: url("/assets/medium-dark.svg");
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

@media (max-width: 1100px) {
  .dark-mode .medium {
    width: 25px;
    height: 25px;
    background-size: 25px;
  }
}

.dark-mode .light {
  background-image: url("/assets/lightbulboff.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  height: 25px;
  width: 29.12px;
}

.dark-mode .github {
  background-image: url("/assets/github-dark.png");
  background-position: center;
  background-size: 40px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1100px) {
  .dark-mode .github {
    width: 25px;
    height: 25px;
    background-size: 25px;
  }
}

::-moz-selection {
  background: #4215e6;
  color: white;
}

::selection {
  background: #4215e6;
  color: white;
}

html:not([data-scroll="0"]) .nav {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

.nav {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 10vh;
      grid-template-rows: 10vh;
      grid-template-areas: "logo links";
  font-weight: 600;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  top: 0px;
  z-index: 5;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out, -webkit-backdrop-filter 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out, -webkit-backdrop-filter 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out, -webkit-backdrop-filter 0.5s ease-in-out;
}

@media (max-width: 1000px) {
  .nav {
        grid-template-areas: "logo burger";
  }
}

.nav .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  margin-left: 30px;
  font-weight: 700;
  font-size: 50px;
}

.nav .logo a {
  font-weight: 700;
  font-size: 50px;
}

.nav .logo a span {
  color: #ffe924;
  font-weight: 700;
}

.about-body {
  margin-left: 10%;
  margin-right: 10%;
}

.about-body h4 {
  color: #ffe924;
}

.main-header {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  text-align: right;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "name" "label" "desc";
  padding-bottom: 5vw;
}

@media (max-width: 1100px) {
  .main-header {
    margin-left: 0;
    margin-right: 0;
    font-size: 4vw;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

.disney {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: disney;
  background-image: url("/assets/disney.png");
  background-repeat: no-repeat;
  background-position: center;
      justify-self: end;
  border-radius: 25px;
  background-size: cover;
  width: 100%;
  height: 25vw;
  -webkit-transition: -webkit-box-shadow ease-in-out 0.5s;
  transition: -webkit-box-shadow ease-in-out 0.5s;
  transition: box-shadow ease-in-out 0.5s;
  transition: box-shadow ease-in-out 0.5s, -webkit-box-shadow ease-in-out 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 1100px) {
  .disney {
    width: 90vw;
    height: 50vw;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.case-studies {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5vw;
  -ms-grid-columns: 30vw 50vw;
      grid-template-columns: 30vw 50vw;
  -ms-grid-rows: 30vw 50vw;
      grid-template-rows: 30vw 50vw;
  -webkit-column-gap: 5vw;
          column-gap: 5vw;
  row-gap: 5vw;
      grid-template-areas: "nike disney" "more apple";
}

@media (max-width: 1100px) {
  .case-studies {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 50vw 40vw 50vw 40vw;
        grid-template-rows: 50vw 40vw 50vw 40vw;
        grid-template-areas: "disney" "nike" "apple" "more";
  }
}

.case-studies .nike {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nike;
  background-image: url("/assets/nikecover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  background-size: cover;
  height: 40vw;
  width: 30vw;
  font-weight: 600;
  -webkit-transition: -webkit-box-shadow ease-in-out 0.5s;
  transition: -webkit-box-shadow ease-in-out 0.5s;
  transition: box-shadow ease-in-out 0.5s;
  transition: box-shadow ease-in-out 0.5s, -webkit-box-shadow ease-in-out 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-flex-line-pack: end;
      align-content: end;
}

@media (max-width: 1100px) {
  .case-studies .nike {
    height: 100%;
    width: auto;
  }
}

.case-studies .apple {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: apple;
  background-image: url("/assets/new-apple-music-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  -ms-grid-column-align: end;
      justify-self: end;
  background-size: contain;
  width: 30vw;
  height: 40vw;
  font-weight: 500;
  -webkit-transition: -webkit-box-shadow ease-in-out 0.5s;
  transition: -webkit-box-shadow ease-in-out 0.5s;
  transition: box-shadow ease-in-out 0.5s;
  transition: box-shadow ease-in-out 0.5s, -webkit-box-shadow ease-in-out 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 1100px) {
  .case-studies .apple {
    width: 90vw;
    height: 50vw;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.case-studies a:hover:after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.case-studies .more {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: more;
  border-radius: 25px;
  width: 40vw;
  height: 30vw;
  -webkit-transition: -webkit-box-shadow ease-in-out 0.5s;
  transition: -webkit-box-shadow ease-in-out 0.5s;
  transition: box-shadow ease-in-out 0.5s;
  transition: box-shadow ease-in-out 0.5s, -webkit-box-shadow ease-in-out 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 1100px) {
  .case-studies .more {
    width: 90vw;
    height: 50vw;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.case-studies .more p {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 30%;
}

.nike:hover,
.disney:hover,
.apple:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 45% 25% 15%;
      grid-template-columns: 15% 45% 25% 15%;
  row-gap: 35px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: ". visual name ." ". visual label ." ". visual desc ." ". visual button.";
}

@media (max-width: 1100px) {
  .about {
    -ms-grid-columns: 15% 70% 15%;
        grid-template-columns: 15% 70% 15%;
        grid-template-areas: ". name ." ". label ." ". desc ." ". button ." ". visual .";
    row-gap: 4vw;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6.5rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "social info";
}

footer p {
  font-size: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 1100px) {
  footer p {
    font-size: 14px;
    margin-right: 10px;
  }
}

footer .social {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: social;
  display: -ms-grid;
  display: grid;
  width: 30%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "medium linkedin github";
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1100px) {
  footer .social {
    width: 50%;
  }
}

footer .social img {
  width: 40px;
  height: 40px;
}

@media (max-width: 1100px) {
  footer .social img {
    width: 25px;
    height: 25px;
  }
}

footer .social a:hover:after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

figure {
  display: inline-block;
  padding: 1rem;
}

figure img {
  width: 100%;
  height: auto;
}

figure svg {
  width: 100%;
  height: auto;
}

figure figcaption {
  text-align: center;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

input {
  margin: -1000%;
  position: fixed;
}

h4 {
  font-size: 30px;
  font-weight: 500;
  color: #e6802c;
}

@media (max-width: 1100px) {
  h4 {
    font-size: 2.7vw;
    padding-top: 0;
  }
}

@media (max-width: 700px) {
  h4 {
    font-size: 4vw;
    padding-top: 0;
    margin-right: 0;
  }
}

li {
  padding: 0.5rem;
  font-size: 20px;
}

.nav-fullscreen {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  line-height: 80px;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s, visibility 0.4s;
  transition: opacity 0.4s, visibility 0.4s;
}

.nav-fullscreen_items {
  font-size: 50px;
  font-weight: 700;
}

.nav-fullscreen--open {
  opacity: 1;
  visibility: visible;
  position: fixed;
}

.links {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: links;
  font-size: 35px;
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-columns: auto 240px 155px 160px 150px;
      grid-template-rows: auto;
      grid-template-areas: "work case-studies contact archive dark-mode";
}

@media (max-width: 1000px) {
  .links {
    display: none;
  }
}

.links .archive {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: archive;
  vertical-align: middle;
  text-align: right;
}

.links .work {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: work;
  text-align: right;
}

.links .studies {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: case-studies;
  text-align: right;
}

.links .contact {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: contact;
  vertical-align: middle;
  text-align: right;
}

.links .light {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: dark-mode;
      justify-self: center;
}

.links a {
  font-weight: 700;
}

.links span {
  color: #ffe924;
  font-weight: 700;
}

.name {
  font-family: roc-grotesk-wide, sans-serif;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font-size: 40px;
  font-weight: 500;
}

.name span {
  color: #4215e6;
  font-weight: 600;
}

@media (max-width: 1100px) {
  .name {
    font-size: 6vw;
  }
}

.label {
  font-size: 22px;
  font-weight: 400;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: label;
  margin-top: 2vw;
}

@media (max-width: 1100px) {
  .label {
    font-size: 4vw;
  }
}

.label span {
  color: #e6802c;
}

.desc {
  font-size: 30px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: desc;
}

@media (max-width: 1100px) {
  .desc {
    font-size: 2.7vw;
    padding-top: 0;
  }
}

@media (max-width: 700px) {
  .desc {
    font-size: 4vw;
    padding-top: 0;
    margin-right: 0;
  }
}

.btns {
  grid-area: button;
  font-size: 23px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  font-weight: 400;
  padding: 10px;
  color: black;
  background-color: white;
  border: none;
  width: 197px;
  height: 71px;
  border-radius: 27px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 20px;
}

@media (max-width: 1000px) {
  .btns {
    width: 25vw;
    height: 10vw;
    font-size: 3.5vw;
  }
}

.btns:hover {
  cursor: pointer;
  background-color: #4215e6;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.visual {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: visual;
  width: 100%;
  height: 50vw;
  left: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 27px;
  font-weight: 500px;
  font-size: 26px;
  text-align: center;
  -webkit-transition: -webkit-box-shadow ease-in-out 0.5s;
  transition: -webkit-box-shadow ease-in-out 0.5s;
  transition: box-shadow ease-in-out 0.5s;
  transition: box-shadow ease-in-out 0.5s, -webkit-box-shadow ease-in-out 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 1000px) {
  .visual {
    background-position: center;
    background-size: contain;
    height: 15vw;
  }
}

.visual:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.visual-background {
  z-index: -1;
  height: 30vw;
  width: 15vw;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: visual;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 27px;
  background-color: #4215e6;
}

@media (max-width: 1100px) {
  .visual-background {
    width: 30vw;
    height: 50vw;
    max-width: 455px;
    max-height: 587px;
    margin-top: 5vw;
  }
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

a:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4215e6;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.menu {
  display: none;
}

@media (max-width: 1000px) {
  .menu {
    grid-area: burger;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
    padding: 0;
    top: 25px;
    right: 45px;
    width: 37px;
    height: 37px;
  }
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  stroke: black;
}

.line2 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  stroke: black;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  stroke: black;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
  stroke: black;
  z-index: 5;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
  stroke: black;
  z-index: 5;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
  stroke: black;
  z-index: 5;
}

.case-study-lander-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header im"
 "lab im"
 "desc im";
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

@media (max-width: 1100px) {
  .case-study-lander-grid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "header" "lab" "desc" "im";
    row-gap: 2rem;
    margin-bottom: 3rem;
  }
}

.case-study-lander-grid a:hover:after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

#case {
  color: #ffe924;
  font-weight: 700;
  font-size: 40px;
}

#case a {
  color: #ffe924;
  font-weight: 700;
  font-size: 40px;
}

@media (max-width: 1100px) {
  #case a {
    font-size: 5vw;
  }
}

@media (max-width: 1100px) {
  #case {
    font-size: 5vw;
  }
}

#apple-music {
  background: url("/assets/new-apple-music-hero.png") no-repeat;
  background-size: contain;
  height: 30vw;
  width: 20vw;
  background-position: center;
}

@media (max-width: 1100px) {
  #apple-music {
    height: 60vw;
    width: 50vw;
  }
}

#nike {
  background: url("/assets/nikecover.png") no-repeat;
  background-size: contain;
  height: 13.7vw;
  width: 30vw;
  background-position: center;
}

@media (max-width: 1100px) {
  #nike {
    height: 40vw;
    width: 80vw;
  }
}

#lander h1 {
  color: #ffe924;
  margin-top: 2rem;
}

#lander h3 {
  padding-bottom: 2rem;
}

#lander p {
  font-size: 30px;
}

@media (max-width: 1100px) {
  #lander p {
    font-size: 2.7vw;
    line-height: 4vw;
  }
}

@media (max-width: 1100px) {
  #about-label {
    font-size: 2.5vw;
  }
}

@media (max-width: 800px) {
  #about-label {
    font-size: 3vw;
  }
}

@media (max-width: 700px) {
  #about-label {
    font-size: 3.5vw;
  }
}

@media (max-width: 550px) {
  #about-label {
    font-size: 4vw;
  }
}

#circular-text {
  position: absolute;
  font-weight: 900;
  padding-left: 10;
  font-size: 15px;
  background: #ffe924;
  color: #000;
  border-radius: 100%;
  padding: 20px;
  margin-left: 10%;
  margin-top: 5%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 15000ms;
          animation-duration: 15000ms;
}

@media (max-width: 1100px) {
  #circular-text {
    display: none;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#circular-text span {
  position: absolute;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.banner {
  display: none;
}

@media (max-width: 1100px) {
  .banner {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #ffe924;
    line-height: 2rem;
    position: fixed;
  }
}

.marquee {
  display: none;
}

@media (max-width: 1100px) {
  .marquee {
    display: block;
    width: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #ffe924;
    line-height: 35px;
    position: fixed;
    z-index: 10;
  }
}

.marquee span {
  display: block;
  width: 100%;
  padding-left: 100%;
  /* show the marquee just outside the paragraph */
  will-change: transform;
  -webkit-animation: marquee 15s linear infinite;
          animation: marquee 15s linear infinite;
}

.marquee span:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

#about-visual {
  background: url("/assets/IMG_2219.jpeg") no-repeat;
  background-size: contain;
  height: 40vw;
  width: 25vw;
  background-position: center center;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: -webkit-transform ease-in-out 0.5s, -webkit-box-shadow ease-in-out 0.5s;
  transition: -webkit-transform ease-in-out 0.5s, -webkit-box-shadow ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, box-shadow ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, box-shadow ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s, -webkit-box-shadow ease-in-out 0.5s;
  border-radius: 27px;
}

@media (max-width: 1100px) {
  #about-visual {
    width: 30vw;
    height: 50vw;
    max-width: 455px;
    max-height: 587px;
    margin-top: 5vw;
  }
}

#about-visual:hover {
  -webkit-transform: translateX(-25px) translateY(-25px);
          transform: translateX(-25px) translateY(-25px);
}

#linkedin {
  display: inline-block;
}

#linkedin a:hover:after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

#404 h4 {
  font-size: 30px;
}

@media (max-width: 1100px) {
  #404 h4 {
    font-size: 2.7vw;
    padding-top: 0;
  }
}

@media (max-width: 700px) {
  #404 h4 {
    font-size: 4vw;
    padding-top: 0;
    margin-right: 0;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 15.5rem;
}

#content-wrap .wrapper {
  padding-top: 8rem;
}

@media (max-width: 1100px) {
  #content-wrap .wrapper {
    padding-top: 2rem;
  }
}

#importance-achievability {
  margin-bottom: 10vw;
}

@media (max-width: 1100px) {
  #importance-achievability {
    margin-bottom: 20vw;
  }
}

@media (max-width: 600px) {
  #importance-achievability {
    margin-bottom: 30vw;
  }
}

#importance-achievability #importance {
  float: left;
  width: 50%;
}

#importance-achievability #header {
  font-size: 30px;
  font-weight: 500;
}

#importance-achievability ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

#cert-head {
  margin-left: 15%;
  margin-bottom: 20px;
}

@media (max-width: 1100px) {
  #cert-head {
    margin-left: 5%;
  }
}

#certifications {
  padding-bottom: 5rem;
  padding-left: 15%;
  padding-right: 15%;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 4.688%;
          column-gap: 4.688%;
}

@media (max-width: 1100px) {
  #certifications {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#certifications a {
  bottom: 15px;
  right: 3%;
  position: absolute;
  color: white;
  font-size: 25px;
}

@media (max-width: 1100px) {
  #certifications a {
    font-size: 3vw;
    right: 10%;
  }
}

#certifications h1 {
  font-weight: 600;
  font-size: 30pt;
  color: black;
}

@media (max-width: 1100px) {
  #certifications h1 {
    font-size: 4vw;
  }
}

#certifications h2 {
  font-weight: 400;
  font-size: 25pt;
  color: #4d4d4d;
}

@media (max-width: 1100px) {
  #certifications h2 {
    font-size: 3vw;
  }
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 70% 15%;
      grid-template-columns: 15% 70% 15%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: ". name ." ". label .";
}

@media (max-width: 1000px) {
  .header {
    -ms-grid-columns: 5% 90% 5%;
        grid-template-columns: 5% 90% 5%;
  }
}

.btn {
  border: none;
  background: none;
  padding: 1rem;
  font-size: 25px;
}

@media (max-width: 1000px) {
  .btn {
    font-size: 3.5vw;
  }
}

.btn:hover {
  cursor: pointer;
  color: #555555;
}

.title a {
  font-weight: 700;
  font-size: 40px;
  color: #e6802c;
}

@media (max-width: 676px) {
  .title a {
    font-size: 6vw;
  }
}

.coming-soon {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: more;
  margin-top: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-weight: 700;
  font-size: 40px;
}

@media (max-width: 1000px) {
  .coming-soon {
    font-size: 4vw;
  }
}

#buttons {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: label;
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
  font-size: 25px;
  color: #ffe924;
}

@media (max-width: 1000px) {
  #buttons {
    font-size: 3.5vw;
  }
}

#study-apple {
  border-radius: 27px;
  height: auto;
  -webkit-transition: -webkit-box-shadow ease-in-out 0.5s;
  transition: -webkit-box-shadow ease-in-out 0.5s;
  transition: box-shadow ease-in-out 0.5s;
  transition: box-shadow ease-in-out 0.5s, -webkit-box-shadow ease-in-out 0.5s;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

#study-apple img {
  width: 100%;
  height: 100%;
  border-radius: 27px;
}

@media (max-width: 1000px) {
  #study-apple {
    height: 60vw;
  }
}

#study-apple a:hover:after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

#study-apple:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 15rem;
}

@media (max-width: 1100px) {
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5vw;
  }
}

.wrapper .hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "title" "subtitle";
  row-gap: 2rem;
  text-align: end;
}

@media (max-width: 1100px) {
  .wrapper .hero {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.wrapper .hero h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #ffe924;
  margin-right: 50%;
}

@media (max-width: 1100px) {
  .wrapper .hero h1 {
    margin-right: 0;
  }
}

.wrapper .hero h2 {
  font-size: 2rem;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subtitle;
  margin-right: 50%;
}

@media (max-width: 1100px) {
  .wrapper .hero h2 {
    margin-right: 0;
  }
}

.wrapper .hero h2 span {
  font-weight: 600;
}

.wrapper .hero figure {
  height: 40rem;
  width: 50rem;
  z-index: -1;
  border-radius: 27px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: subtitle;
  -ms-grid-column-align: end;
      justify-self: end;
  top: 3rem;
}

@media (max-width: 1100px) {
  .wrapper .hero figure {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 80vw;
    position: relative;
  }
}

.wrapper .hero .apple {
  background: url("/assets/new-apple-music-hero.png") no-repeat;
  background-size: contain;
  position: absolute;
  width: 25vw;
  background-position: center;
}

@media (max-width: 1100px) {
  .wrapper .hero .apple {
    display: none;
  }
}

.wrapper .hero .nike {
  background: url("/assets/nikecover.jpg") no-repeat;
  background-size: contain;
  position: absolute;
  width: 27%;
  background-position: center;
}

@media (max-width: 700px) {
  .wrapper .hero .nike {
    margin-top: 10%;
    width: 50%;
  }
}

.wrapper .disney {
  background: url("/assets/disney.png") no-repeat;
  background-size: cover;
  position: absolute;
  background-position: center;
}

.wrapper .info {
  padding-top: 20rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  font-size: 1.2rem;
  row-gap: 2rem;
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 1100px) {
  .wrapper .info {
    padding-top: 10rem;
  }
}

.wrapper .info p {
  border-bottom: 2px solid #ffe924;
}

.wrapper .info #desc {
  text-align: end;
}

.wrapper .featured {
  margin-top: 5rem;
}

.wrapper .featured img {
  height: 100px;
  width: auto;
  display: block;
}

.wrapper .featured a {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.wrapper section {
  margin-top: 10rem;
}

.wrapper section h1 {
  font-size: 3rem;
  font-weight: 600;
}

.wrapper section h2 {
  font-size: 2rem;
  color: #ffe924;
  padding-top: 1rem;
}

.wrapper section p {
  margin-top: 5rem;
  font-size: 22.5px;
  line-height: 35px;
}

.wrapper section svg {
  margin-top: 5rem;
}

.wrapper section img {
  margin-top: 5rem;
  width: 100%;
  height: auto;
}

@media (max-width: 1100px) {
  .wrapper section img {
    width: 100%;
  }
}

.wrapper section figcaption {
  color: grey;
  text-align: center;
  margin-top: 1rem;
}

.wrapper section figcaption a {
  color: grey;
}

.wrapper aside {
  position: fixed;
  text-align: center;
  z-index: 2;
  left: 20px;
}

.wrapper aside ul {
  list-style: none;
}

@media (max-width: 1200px) {
  .wrapper aside {
    display: none;
  }
}

.side-by-side {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 47.5% 47.5%;
      grid-template-columns: 47.5% 47.5%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

@media (max-width: 1100px) {
  .side-by-side {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.side-by-side img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.side-by-side ul {
  margin-top: 5rem;
  text-align: center;
  list-style: none;
  font-size: 2rem;
  font-weight: 600;
}

.icymi {
  margin-top: 5rem;
  background-color: #dadada;
  border-radius: 27px;
  color: #4e4e4e;
  line-height: 35px;
  font-size: 22.5px;
  padding: 1rem;
}

/* *,
*::after,
*::before {
    box-sizing: border-box;
} */
/* :root {
    font-size: 15px;
} */
body {
  /* --color-text: #111;
    --color-bg: #f8ecde;
    --color-link: #b19e7f;
    --color-link-hover: #000; */
  color: var(--color-text);
  background-color: var(--color-bg);
  margin: 0;
  font-family: roc-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Grainy texture animation by Geoff Graham https://css-tricks.com/snippets/css/animated-grainy-texture/ */
/* main::before {
    animation: grain 8s steps(10) infinite;
    background-image: url(../img/noise.png);
    content: '';
    height: 300%;
    left: -50%;
    opacity: 0.6;
    position: fixed;
    top: -100%;
    width: 300%;
} */
/* @keyframes grain {

    0%,
    100% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-5%, -10%);
    }

    20% {
        transform: translate(-15%, 5%);
    }

    30% {
        transform: translate(7%, -25%);
    }

    40% {
        transform: translate(-5%, 25%);
    }

    50% {
        transform: translate(-15%, 10%);
    }

    60% {
        transform: translate(15%, 0%);
    }

    70% {
        transform: translate(0%, 15%);
    }

    80% {
        transform: translate(3%, 35%);
    }

    90% {
        transform: translate(-10%, 10%);
    }
} */
a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

/* .frame {
    padding: 3rem 5vw;
    text-align: center;
    position: relative;
    z-index: 1000;
    line-height: 1;
}

.frame__title {
    font-size: 1rem;
    margin: 0 0 1rem;
    font-weight: 700;
}

.frame__links {
    display: inline;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
    margin-right: 1rem;
}

.frame__demos {
    margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
    color: var(--color-text);
} */
.menu1 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10vh 0 25vh;
  --marquee-width: 100vw;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  --item-font-size: 10vw;
  counter-reset: menu;
}

.menu__item {
  cursor: default;
  position: relative;
  padding: 0 5vw;
}

.menu__item-link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  -webkit-text-stroke: 1.5px #000;
  text-stroke: 1.5px #000;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.menu__item-link::before {
  all: initial;
  font-family: roc-grotesk, sans-serif;
  counter-increment: menu;
  content: counter(menu);
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
}

.menu__item-link:hover {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  opacity: 0;
}

.menu__item-img {
  pointer-events: none;
  position: absolute;
  height: 50vh;
  max-height: 400px;
  opacity: 0;
  left: 100%;
  top: 50%;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
          transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover + .menu__item-img {
  opacity: 1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
          transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/* Make sure 3 items are visible in the viewport by setting suitable font size. */
.marquee1 {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--marquee-width);
  overflow: hidden;
  pointer-events: none;
  mix-blend-mode: color-burn;
}

.marquee__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translate3d(var(--move-initial), 0, 0);
          transform: translate3d(var(--move-initial), 0, 0);
  -webkit-animation: marquee1 5s linear infinite;
          animation: marquee1 5s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.menu__item-link:hover ~ .marquee1 .marquee__inner {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.marquee1 span {
  text-align: center;
}

.menu__item-link,
.marquee1 span {
  white-space: nowrap;
  font-size: var(--item-font-size);
  padding: 0 1vw;
  font-weight: 900;
  line-height: 1.15;
}

.marquee1 span {
  font-style: italic;
}

@-webkit-keyframes marquee1 {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes marquee1 {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

/* @media screen and (min-width: 53em) {
    .frame {
        text-align: left;
        display: grid;
        align-content: space-between;
        width: 100%;
        padding: 2.5rem 6vw;
        pointer-events: none;
        grid-template-columns: 75% 25%;
        grid-template-rows: auto;
    }

    .frame__title-wrap {
        display: flex;
        align-items: start;
    }

    .frame__info {
        margin: 0;
    }

    .frame__title {
        margin: 0 1rem 0 0;
    }

    .frame__links {
        padding: 0;
        justify-self: end;
    }

    .frame a {
        pointer-events: auto;
    }
} */
.nav {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 10vh;
  grid-template-rows: 10vh;
      grid-template-areas: "logo links";
  font-weight: 600;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
  top: 0px;
  z-index: 5;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out,
 -webkit-backdrop-filter 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out,
 -webkit-backdrop-filter 0.5s ease-in-out;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out, -webkit-backdrop-filter 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out, -webkit-backdrop-filter 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out, -webkit-backdrop-filter 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out,
 -webkit-box-shadow 0.5s ease-in-out,
 -webkit-backdrop-filter 0.5s ease-in-out;
}

@media (max-width: 1000px) {
  .nav {
        grid-template-areas: "logo burger";
  }
}

.nav .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  margin-left: 30px;
  font-weight: 700;
  font-size: 50px;
}

.nav .logo a {
  font-weight: 700;
  font-size: 50px;
}

.nav .logo a span {
  color: #ffe924;
  font-weight: 700;
}

.nav-fullscreen {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  line-height: 80px;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s, visibility 0.4s;
  transition: opacity 0.4s, visibility 0.4s;
}

.nav-fullscreen_items {
  font-size: 50px;
  font-weight: 700;
}

.nav-fullscreen--open {
  opacity: 1;
  visibility: visible;
  position: fixed;
}

.links {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: links;
  font-size: 35px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 240px 155px 160px 150px;
      grid-template-columns: auto 240px 155px 160px 150px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "work case-studies contact archive dark-mode";
}

@media (max-width: 1000px) {
  .links {
    display: none;
  }
}

button {
  background: none;
  border: none;
}

.menu {
  display: none;
}

@media (max-width: 1000px) {
  .menu {
    grid-area: burger;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
    padding: 0;
    top: 25px;
    right: 45px;
    width: 37px;
    height: 37px;
  }
}
/*# sourceMappingURL=style.css.map */
