* {
  margin: 0;
  font-family: futura-pt,sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "logo links";
  margin-top: 20px;
  margin-left: 30px;
  font-weight: 700;
}

.nav .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  font-size: 50px;
  font-weight: 700;
}

.nav .links {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: links;
  font-size: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 250px auto;
      grid-template-columns: auto 250px auto;
  margin-left: 30%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "work case-studies contact";
}

.nav .links .work {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: work;
  text-align: right;
}

.nav .links .studies {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: case-studies;
  text-align: center;
}

.nav .links .contact {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: contact;
}

.nav .links a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.nav .links a:hover {
  color: black;
  text-decoration: underline;
}

.main-header {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  margin-left: 100px;
  -ms-grid-columns: 990px 822px;
      grid-template-columns: 990px 822px;
  -ms-grid-rows: 45px  100px  560px;
      grid-template-rows: 45px  100px  560px;
      grid-template-areas: "label ." "name ." "header-visual desc ";
}

.main-header .label {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: label;
  font-size: 35px;
  font-weight: 300;
  color: #4215E6;
}

.main-header .name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font-size: 56px;
  font-weight: 700;
}

.main-header img {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: header-visual;
}

.main-header .desc {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: desc;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 300px;
  margin-right: 65px;
}

.main-header .desc .header {
  font-size: 39px;
  font-weight: 700;
}

.main-header .desc p {
  font-size: 35px;
}

.case-studies {
  margin-top: 150px;
  margin-left: 90px;
  -ms-grid-rows: 475px 475px;
      grid-template-rows: 475px 475px;
  row-gap: 140px;
  -ms-grid-columns: 850px 850px;
      grid-template-columns: 850px 850px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "study1 study1" "study2 study2";
}

.case-studies .cell1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px 50px 240px 1fr;
      grid-template-rows: 70px 50px 240px 1fr;
  -ms-grid-columns: 850px 850px;
      grid-template-columns: 850px 850px;
      grid-template-areas: "name visual" "label visual" "desc visual" "button visual";
  row-gap: 10px;
}

.case-studies .cell2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px 50px 240px 1fr;
      grid-template-rows: 70px 50px 240px 1fr;
  -ms-grid-columns: 850px 850px;
      grid-template-columns: 850px 850px;
      grid-template-areas: "visual name" "visual label" "visual desc" "visual button";
  row-gap: 10px;
  -webkit-column-gap: 150px;
          column-gap: 150px;
}

.case-studies .header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font-size: 50px;
  font-weight: 700;
  color: #E6802C;
}

.case-studies .label {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: label;
  font-size: 35px;
  font-weight: 400;
}

.case-studies .desc {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: desc;
  font-size: 30px;
  font-weight: 300;
  color: #414141;
  margin-right: 150px;
}

.case-studies button {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: button;
  font-size: 30px;
  padding: 10px;
  color: white;
  background-color: #4215E6;
  border: none;
  width: 237px;
  height: 87px;
  border-radius: 27px;
}

.case-studies button:hover {
  cursor: pointer;
}

.case-studies img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: visual;
}
/*# sourceMappingURL=style.css.map */