.container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 10vw 60vw 20vw;
    grid-template-areas: ". header  ." ".  cells ." "footer footer footer";

    @media (max-width:767px) {
        grid-template-rows: 10vw 160vw 20vw;
        grid-template-columns: 5% 90% 5%;
    }

    .header {
        grid-area: header;
        display: grid;
        grid-template-areas: "title" "filters";
        grid-template-rows: 3vw 2vw;
        row-gap: 2vw;

        @media (max-width:1000px) {
            row-gap: 5vw;
        }
        .title {
            font-weight: 700;
            font-size: 45px;

            @media (max-width:767px) {
                font-size: 6vw;
            }
        }
        .filters {
            font-size: 25px;
            color: #E6802C;

            @media (max-width:767px) {
                font-size: 3vw;
            }

            button {
                border: none;
                color: black;
                background-color: transparent;
                font-size: 25px;

                @media (max-width:767px) {
                    font-size: 3vw;
                }
            }
            button:hover {
                cursor: pointer;
            }
        }
    }
    .cells {
        margin-top: 5vw;
        grid-area: cells;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25vw 25vw;
        row-gap: 5vw;
        grid-template-areas: "cell1 cell2"
        "cell3 cell4";
        
        @media (max-width:767px) {
            grid-template-areas: "cell1"
            "cell2"
            "cell3"
            "cell4";
            grid-template-columns: 100%;
            grid-template-rows: 50vw 50vw 50vw;
            row-gap: 15vw;
        }
        .one {
            grid-area: cell1;
        }
        .two {
            grid-area: cell2;
        }
        .three {
            grid-area: cell3;
        }
        .four {
            grid-area: cell4;
        }

        a {
            justify-self: center;
            text-decoration: none;
            color: black;
            
            .label {
               @media (max-width:1000px) {
                font-size: 3vw;
            } 
               @media (max-width:767px) {
                font-size: 5vw;
            } 
            }
            
        }
        a:hover {
            cursor: pointer;
        }
        .label {
            justify-self: center;
            margin-top: 3vw;
            font-weight: 700;
            font-size: 30px;
            color: #E6802C;
        }
        
    }

    footer {
        grid-area: footer;
    }
}

.visual {
    justify-self: center;
    grid-area: visual;
    width: 90%;
    height: 20vw;
    left: 0;
    align-self: center;
    border-radius: 27px;
    font-weight: 500px;
    font-size: 26px;
    text-align: center;
    transition: box-shadow ease-in-out .5s;
    box-shadow: none;

    // img {
    //     width: 100%;
    //     height: 20vw;
    //     border-radius: 27px;
    //     align-self: center;

    //     @media (max-width: 800px) {
    //         width: 100%;
    //         height: 40vw;
    //         // margin-top: 10vw;
    //     }
    // }

    @media (max-width: 1000px) {
        margin-top: 5vw;
    }

    @media (max-width: 767px) {
        height: 45vw;
    }

    p {
        margin-top: 25%;
    }
}

.visual:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor:pointer;
}

// footer {
//     margin-top: 600px;
//     @media (max-width:800px) {
//         margin-top: 500px;
//     }
    
// }


.case-study-main-header {
    display: grid;
    grid-template-areas: "sidebar hero ."
    "sidebar info ."
    "sidebar content .";
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: auto;

    @media (max-width: 767px) {
        grid-template-areas: ". hero ."
        ". info ."
        ". content .";
        grid-template-columns: 5vw 90vw 5vw;
    }

    .sidebar {
        position: fixed;
        grid-area: sidebar;
        margin-top: 30vh;
        // left: 2vw;
        text-align: center;

        @media (max-width: 1049px) {
            display: none;
        }

        ul {
            list-style: none;
            // padding: 10px;

            li {
                padding-bottom: 7px;
                padding-top: 7px;

                a {
                    text-decoration: none;
                    color: black;
                }
                a:hover {
                    cursor: pointer;
                }
            }

            hr {
                height: 1px;
                background-color: black;
            }
            hr.active {
                background-color: #4215E6;
                height: 2px;
            }
        }
    }

    .hero {
        grid-area: hero;
        display: grid;
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: 15vw 15vw;
        row-gap: 2vw;
        grid-template-areas: ". hero-top ." ". hero-bottom .";

        @media (max-width: 767px) {
            grid-template-columns: 5% 80% 15%;
        }

        h1 {
            grid-area: hero-top;
            font-weight: 700;
            font-size: 5vw;
            align-self: end;
            justify-self: center;
            color: #E6802C;

            @media (max-width: 767px) {
                font-size: 6vw;
            }
        }

        h2 {
            grid-area: hero-bottom;
            font-weight: 500;
            font-size: 2.5vw;
            justify-self: center;
            color: black;
            margin-right: 10vw;

            @media (max-width: 767px) {
                font-size: 3.5vw;
                margin-left: 50px;
            }
            
            span {
                font-weight: 600;
            }
            span1 {
                color: white;
                text-shadow: 2px 2px 5px black;
                
                @media (max-width: 767px) {
                    // color: black;
                    // text-shadow: none;
                }
            }
        }

        .visual {
            grid-area: hero-bottom;
            z-index: -1;
            // border: 1px solid grey;
            height: 40vw;
            width: 40vw;
            border-radius: 27px;
            // margin-left: 500px;
            // position: relative;
            // right: 200px;
            justify-self: end;
            align-self: end;
            background: url('/assets/new-apple-music-hero.png') no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    .info {
        grid-area: info;
        margin-top: 5vw;
        display: grid;
        grid-template-columns: 15% 1fr 3fr 15%;
        grid-template-areas: 
        ". goal goal-info ."
        ". time time-info ." 
        ". tools tools-info .";
        row-gap: 7px;
        font-size: 22px;

        @media (max-width:767px) {
            font-size: 2.5vw;
        }

        .goal {
            grid-area: goal;
            border-bottom: 2px solid #4215E6;
            padding-bottom: 7px;
            align-self: end;
        }
        .goal-info {
            grid-area: goal-info;
            border-bottom: 2px solid #4215E6;
            text-align: right;
        }
        .time {
            grid-area: time;
            border-bottom: 2px solid #4215E6;
            padding-bottom: 7px;
        }
        .time-info {
            grid-area: time-info;
            border-bottom: 2px solid #4215E6;
            text-align: right;
        }
        .tools {
            grid-area: tools;
        }
        .tools-info {
            grid-area: tools-info;
            text-align: right;
        }
    }

    .content {
        grid-area: content;

        h1 {
            grid-area: header;
            font-weight: 700;
            font-size: 44px;

            @media (max-width: 767px) {
                font-size: 6vw;
            }
        }
        p {
            margin-top: 4vw;
            grid-area: par;
            font-size: 25px;

            @media (max-width: 767px) {
                font-size: 4vw;
            }
        }
        p2 {
            margin-top: 4vw;
            grid-area: par1;
            font-size: 25px;
            @media (max-width: 767px) {
                font-size: 4vw;
            }
        }
        p3 {
            margin-top: 4vw;
            grid-area: par2;
            font-size: 25px;
            @media (max-width: 767px) {
                font-size: 4vw;
            }
        }
        .overview {
            display: grid;
            margin-top: 10vw;
            grid-template-rows: auto auto;
            grid-template-areas: ". header ." ". par .";
            grid-template-columns: 10% 80% 10%;
            // h1 {
            //     grid-area: header;
            //     font-weight: 700;
            //     font-size: 44px;
            // }
            // p {
            //     margin-top: 4vw;
            //     grid-area: par;
            //     font-size: 25px;
            // }
        }
        .age {
            display: grid;
            margin-top: 10vw;
            grid-template-rows: auto auto auto auto;
            grid-template-areas: 
            ". header ."
            ". par ."
            ". data ."
            ". par1 .";
            grid-template-columns: 10% 80% 10%;
            svg {
                grid-area: data;
                margin-top: 4vw;
                width: 100%;
                height: auto;
                // margin-left: 15%;

                @media (max-width: 767px) {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
        .survey {
            display: grid;
            margin-top: 10vw;
            grid-template-rows: auto;
            grid-template-areas: ". header ." ". par ." ". data ." ". subtext ." ". par1 ." ". data2 ." ". par2 .";
            grid-template-columns: 10% 80% 10%;
            // h1 {
            //     grid-area: header;
            //     font-weight: 700;
            //     font-size: 44px;
            // }
            // p {
            //     margin-top: 4vw;
            //     grid-area: par;
            //     font-size: 25px;
            // }
            // p2 {
            //     margin-top: 4vw;
            //     grid-area: par1;
            //     font-size: 25px;
            // }
            // p3 {
            //     margin-top: 4vw;
            //     grid-area: par2;
            //     font-size: 25px;
            // }
            img {
                margin-top: 4vw;
                grid-area: data;
                justify-self: center;
                align-self: center;
                width: 70%;

                @media (max-width: 767px) {
                    width: 100%;
                    margin-left: 0;
                }
            }
            sub {
                grid-area: subtext;
                justify-self: center;
                text-align: center;
                color: grey;
                font-style: italic;
            }
            .data2 {
                grid-area: data2;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: auto;
                margin-bottom: 4vw;
                grid-template-areas: "importance achievability";

                @media (max-width: 767px) {
                    grid-template-areas: "importance" "achievability";
                    grid-template-columns: 100%;
                }
                .importance, .achievability {
                    justify-content: center;
                    text-align: center;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .loves {
            display: grid;
            margin-top: 10vw;
            grid-template-rows: auto auto;
            grid-template-areas: ". header ." ". par ." ". data1 ." ". par1 ." ". data2 ." ". par2 ." ". par3 ." ". data3 ." ". par4 .";
            grid-template-columns: 10% 80% 10%;
            // h1 {
            //     grid-area: header;
            //     font-weight: 700;
            //     font-size: 44px;
            // }
            // p {
            //     margin-top: 4vw;
            //     grid-area: par;
            //     font-size: 25px;
            // }
            .data1 {
                margin-top: 4vw;
                grid-area: data1;
                justify-self: center;
                img {
                    margin-top: 4vw;
                    grid-area: data;
                    justify-self: center;
                    align-self: center;
                    width: 80%;
                    margin-left: 10%;

                    @media (max-width: 767px) {
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }
            .grid2 {
                grid-area: data3;
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: "im1 im2";
                @media (max-width: 767px) {
                    grid-template-areas: "im1""im2";
                }

                .data2 {
                    // margin-top: 4vw;
                    margin-bottom: 4vw;
                    grid-area: im1;
                    justify-self: center;
                    align-self: center;
                    // float: left;

                    img {
                        // margin-top: 4vw;
                        grid-area: im1;
                        justify-self: center;
                        align-self: center;
                        width: 100%;
                        // margin-left: 10%;

                        @media (max-width: 767px) {
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }
                .data3 {
                    // margin-top: 4vw;
                    margin-bottom: 4vw;
                    grid-area: im2;
                    justify-self: center;
                    align-self: center;

                    img {
                        // margin-top: 4vw;
                        grid-area: im2;
                        justify-self: center;
                        align-self: center;
                        width: 20vw;
                        margin-left: 10%;

                        @media (max-width: 767px) {
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }
            }
                .grid {
                grid-area: data2;
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: "im1 im2";
                @media (max-width: 767px) {
                    grid-template-areas: "im1""im2";
                }
            

                }
                .data2 {
                    // margin-top: 4vw;
                    margin-bottom: 4vw;
                    grid-area: im1;
                    justify-self: center;
                    align-self: center;
                    // float: left;

                    img {
                        // margin-top: 4vw;
                        grid-area: im1;
                        justify-self: center;
                        align-self: center;
                        width: 100%;
                        // margin-left: 10%;

                        @media (max-width: 767px) {
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }
                .data3 {
                    // margin-top: 4vw;
                    margin-bottom: 4vw;
                    grid-area: im2;
                    justify-self: center;
                    align-self: center;

                    img {
                        // margin-top: 4vw;
                        grid-area: im2;
                        justify-self: center;
                        align-self: center;
                        width: 20vw;
                        margin-left: 10%;

                        @media (max-width: 767px) {
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }
                p4 {
                    margin-top: 4vw;
                    grid-area: par3;
                    font-size: 25px;
                    @media (max-width: 767px) {
                        font-size: 4vw;
                    }
                }
                p5 {
                    margin-top: 4vw;
                    grid-area: par4;
                    font-size: 25px;
                    @media (max-width: 767px) {
                        font-size: 4vw;
                    }
                }
            // p2 {
            //     margin-top: 4vw;
            //     grid-area: par1;
            //     font-size: 25px;
            // }
            // p3 {
            //     margin-top: 4vw;
            //     grid-area: par2;
            //     font-size: 25px;
            // }
        }
        .group {
            display: grid;
            margin-top: 10vw;
            grid-template-rows: auto auto;
            grid-template-areas: ". header ." ". par ." ". data1 ." ". par1 ."  ". par2 ." ". par3 ." ". data2 ." ". par4 .";
            grid-template-columns: 10% 80% 10%;
            // h1 {
            //     grid-area: header;
            //     font-weight: 700;
            //     font-size: 44px;
            // }
            // p {
            //     margin-top: 4vw;
            //     grid-area: par;
            //     font-size: 25px;
            // }
            .data1 {
                margin-top: 4vw;
                grid-area: data1;
                justify-self: center;
                img {
                    margin-top: 4vw;
                    grid-area: data;
                    justify-self: center;
                    align-self: center;
                    width: 80%;
                    margin-left: 10%;

                    @media (max-width: 767px) {
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }
            .grid {
                grid-area: data2;
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: "im1 im2";
                @media (max-width: 767px) {
                    grid-template-areas: "im1""im2";
                }

            }
                .data2 {
                    // margin-top: 4vw;
                    margin-bottom: 4vw;
                    grid-area: im1;
                    justify-self: center;
                    align-self: center;
                    // float: left;

                    img {
                        // margin-top: 4vw;
                        grid-area: im1;
                        justify-self: center;
                        align-self: center;
                        width: 80%;
                        // margin-left: 10%;

                        @media (max-width: 767px) {
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }
                .data3 {
                    // margin-top: 4vw;
                    margin-bottom: 4vw;
                    grid-area: im2;
                    justify-self: center;
                    align-self: center;

                    img {
                        // margin-top: 4vw;
                        grid-area: im2;
                        justify-self: center;
                        align-self: center;
                        width: 100%;
                        margin-left: 10%;

                        @media (max-width: 767px) {
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }
            
            p2 {
                grid-area: par1;
                color: rgb(78, 78, 78);
                background-color: rgb(235, 235, 235);
                padding: 1rem;
                border-radius: 27px;
                hr {
                    height: 2px;
                    background-color: rgb(70, 70, 70);
                    border-radius: 1px;
                    border: none;
                    // padding-top: 10px;
                }
            }
            p4 {
                margin-top: 4vw;
                grid-area: par3;
                font-size: 25px;
                @media (max-width: 767px) {
                    font-size: 4vw;
                }
            }
            p5 {
                margin-top: 4vw;
                grid-area: par4;
                font-size: 25px;
                @media (max-width: 767px) {
                    font-size: 4vw;
                }
            }
        }
        .conclusion {
            display: grid;
            margin-top: 10vw;
            grid-template-rows: auto auto;
            grid-template-areas: ". header ." ". par ." ". data1 ." ". par1 ."  ". par2 ." ". par3 ." ". data2 ." ". par4 .";
            grid-template-columns: 10% 80% 10%;

            p {

                a {
                    display: inline-block;
                    position: relative;
                    text-decoration: none;
                    color: grey;
                    }
        
                a:after {
                    content:'';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: #4215E6;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }
        
                a:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }
}