.case-study-main-header {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "sidebar hero ." "sidebar info ." "sidebar content .";
  -ms-grid-columns: 15vw 70vw 15vw;
      grid-template-columns: 15vw 70vw 15vw;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

@media (max-width: 767px) {
  .case-study-main-header {
        grid-template-areas: ". hero ." ". info ." ". content .";
    -ms-grid-columns: 5vw 90vw 5vw;
        grid-template-columns: 5vw 90vw 5vw;
  }
}

.case-study-main-header .sidebar {
  position: fixed;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: sidebar;
  margin-top: 30vh;
  text-align: center;
}

@media (max-width: 1049px) {
  .case-study-main-header .sidebar {
    display: none;
  }
}

.case-study-main-header .sidebar ul {
  list-style: none;
}

.case-study-main-header .sidebar ul li {
  padding-bottom: 7px;
  padding-top: 7px;
}

.case-study-main-header .sidebar ul li a {
  text-decoration: none;
  color: black;
}

.case-study-main-header .sidebar ul li a:hover {
  cursor: pointer;
}

.case-study-main-header .sidebar ul hr {
  height: 1px;
  background-color: black;
}

.case-study-main-header .sidebar ul hr.active {
  background-color: #4215E6;
  height: 2px;
}

.case-study-main-header .hero {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: hero;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 70% 15%;
      grid-template-columns: 15% 70% 15%;
  -ms-grid-rows: 15vw 15vw;
      grid-template-rows: 15vw 15vw;
  row-gap: 2vw;
      grid-template-areas: ". hero-top ." ". hero-bottom .";
}

@media (max-width: 767px) {
  .case-study-main-header .hero {
    -ms-grid-columns: 5% 80% 15%;
        grid-template-columns: 5% 80% 15%;
  }
}

.case-study-main-header .hero h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: hero-top;
  font-weight: 700;
  font-size: 5vw;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #E6802C;
}

@media (max-width: 767px) {
  .case-study-main-header .hero h1 {
    font-size: 6vw;
  }
}

.case-study-main-header .hero h2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: hero-bottom;
  font-weight: 500;
  font-size: 2.5vw;
  -ms-grid-column-align: center;
      justify-self: center;
  color: black;
  margin-right: 10vw;
}

@media (max-width: 767px) {
  .case-study-main-header .hero h2 {
    font-size: 3.5vw;
    margin-left: 50px;
  }
}

.case-study-main-header .hero h2 span {
  font-weight: 600;
}

.case-study-main-header .hero h2 span1 {
  color: white;
  text-shadow: 2px 2px 5px black;
}

.case-study-main-header .hero .visual {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: hero-bottom;
  z-index: -1;
  height: 40vw;
  width: 40vw;
  border-radius: 27px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  background: url("/assets/new-apple-music-hero.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.case-study-main-header .info {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: info;
  margin-top: 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 1fr 3fr 15%;
      grid-template-columns: 15% 1fr 3fr 15%;
      grid-template-areas: ". goal goal-info ." ". time time-info ."  ". tools tools-info .";
  row-gap: 7px;
  font-size: 22px;
}

@media (max-width: 767px) {
  .case-study-main-header .info {
    font-size: 2.5vw;
  }
}

.case-study-main-header .info .goal {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: goal;
  border-bottom: 2px solid #4215E6;
  padding-bottom: 7px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.case-study-main-header .info .goal-info {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: goal-info;
  border-bottom: 2px solid #4215E6;
  text-align: right;
}

.case-study-main-header .info .time {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: time;
  border-bottom: 2px solid #4215E6;
  padding-bottom: 7px;
}

.case-study-main-header .info .time-info {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: time-info;
  border-bottom: 2px solid #4215E6;
  text-align: right;
}

.case-study-main-header .info .tools {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: tools;
}

.case-study-main-header .info .tools-info {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: tools-info;
  text-align: right;
}

.case-study-main-header .content {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: content;
}

.case-study-main-header .content h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  font-weight: 700;
  font-size: 44px;
}

@media (max-width: 767px) {
  .case-study-main-header .content h1 {
    font-size: 6vw;
  }
}

.case-study-main-header .content p {
  margin-top: 4vw;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: par;
  font-size: 25px;
}

@media (max-width: 767px) {
  .case-study-main-header .content p {
    font-size: 4vw;
  }
}

.case-study-main-header .content p2 {
  margin-top: 4vw;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: par1;
  font-size: 25px;
}

@media (max-width: 767px) {
  .case-study-main-header .content p2 {
    font-size: 4vw;
  }
}

.case-study-main-header .content p3 {
  margin-top: 4vw;
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: par2;
  font-size: 25px;
}

@media (max-width: 767px) {
  .case-study-main-header .content p3 {
    font-size: 4vw;
  }
}

.case-study-main-header .content .overview {
  display: -ms-grid;
  display: grid;
  margin-top: 10vw;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: ". header ." ". par .";
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
}

.case-study-main-header .content .age {
  display: -ms-grid;
  display: grid;
  margin-top: 10vw;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: ". header ." ". par ." ". data ." ". par1 .";
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
}

.case-study-main-header .content .age svg {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: data;
  margin-top: 4vw;
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .case-study-main-header .content .age svg {
    width: 100%;
    margin-left: 0;
  }
}

.case-study-main-header .content .survey {
  display: -ms-grid;
  display: grid;
  margin-top: 10vw;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: ". header ." ". par ." ". data ." ". subtext ." ". par1 ." ". data2 ." ". par2 .";
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
}

.case-study-main-header .content .survey img {
  margin-top: 4vw;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: data;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70%;
}

@media (max-width: 767px) {
  .case-study-main-header .content .survey img {
    width: 100%;
    margin-left: 0;
  }
}

.case-study-main-header .content .survey sub {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: subtext;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  color: grey;
  font-style: italic;
}

.case-study-main-header .content .survey .data2 {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: data2;
  display: -ms-grid;
  display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
  margin-bottom: 4vw;
      grid-template-areas: "importance achievability";
}

@media (max-width: 767px) {
  .case-study-main-header .content .survey .data2 {
        grid-template-areas: "importance" "achievability";
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.case-study-main-header .content .survey .data2 .importance, .case-study-main-header .content .survey .data2 .achievability {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.case-study-main-header .content .survey .data2 .importance img, .case-study-main-header .content .survey .data2 .achievability img {
  width: 100%;
}

.case-study-main-header .content .loves {
  display: -ms-grid;
  display: grid;
  margin-top: 10vw;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: ". header ." ". par ." ". data1 ." ". par1 ." ". data2 ." ". par2 ." ". par3 ." ". data3 ." ". par4 .";
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
}

.case-study-main-header .content .loves .data1 {
  margin-top: 4vw;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: data1;
      justify-self: center;
}

.case-study-main-header .content .loves .data1 img {
  margin-top: 4vw;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: data;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  margin-left: 10%;
}

@media (max-width: 767px) {
  .case-study-main-header .content .loves .data1 img {
    width: 100%;
    margin-left: 0;
  }
}

.case-study-main-header .content .loves .grid2 {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
  grid-area: data3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-template-areas: "im1 im2";
}

@media (max-width: 767px) {
  .case-study-main-header .content .loves .grid2 {
        grid-template-areas: "im1" "im2";
  }
}

.case-study-main-header .content .loves .grid2 .data2 {
  margin-bottom: 4vw;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: im1;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.case-study-main-header .content .loves .grid2 .data2 img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: im1;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
}

@media (max-width: 767px) {
  .case-study-main-header .content .loves .grid2 .data2 img {
    width: 100%;
    margin-left: 0;
  }
}

.case-study-main-header .content .loves .grid2 .data3 {
  margin-bottom: 4vw;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: im2;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.case-study-main-header .content .loves .grid2 .data3 img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: im2;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 20vw;
  margin-left: 10%;
}

@media (max-width: 767px) {
  .case-study-main-header .content .loves .grid2 .data3 img {
    width: 100%;
    margin-left: 0;
  }
}

.case-study-main-header .content .loves .grid {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: data2;
  display: -ms-grid;
  display: grid;
      grid-template-columns: auto;
      grid-template-areas: "im1 im2";
}

@media (max-width: 767px) {
  .case-study-main-header .content .loves .grid {
        grid-template-areas: "im1" "im2";
  }
}

.case-study-main-header .content .loves .data2 {
  margin-bottom: 4vw;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: im1;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.case-study-main-header .content .loves .data2 img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: im1;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
}

@media (max-width: 767px) {
  .case-study-main-header .content .loves .data2 img {
    width: 100%;
    margin-left: 0;
  }
}

.case-study-main-header .content .loves .data3 {
  margin-bottom: 4vw;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: im2;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.case-study-main-header .content .loves .data3 img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: im2;
      justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 20vw;
  margin-left: 10%;
}

@media (max-width: 767px) {
  .case-study-main-header .content .loves .data3 img {
    width: 100%;
    margin-left: 0;
  }
}

.case-study-main-header .content .loves p4 {
  margin-top: 4vw;
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: par3;
  font-size: 25px;
}

@media (max-width: 767px) {
  .case-study-main-header .content .loves p4 {
    font-size: 4vw;
  }
}

.case-study-main-header .content .loves p5 {
  margin-top: 4vw;
  -ms-grid-row: 8;
  -ms-grid-column: 2;
  grid-area: par4;
  font-size: 25px;
}

@media (max-width: 767px) {
  .case-study-main-header .content .loves p5 {
    font-size: 4vw;
  }
}

.case-study-main-header .content .group {
  display: -ms-grid;
  display: grid;
  margin-top: 10vw;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: ". header ." ". par ." ". data1 ." ". par1 ."  ". par2 ." ". par3 ." ". data2 ." ". par4 .";
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
}

.case-study-main-header .content .group .data1 {
  margin-top: 4vw;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: data1;
      justify-self: center;
}

.case-study-main-header .content .group .data1 img {
  margin-top: 4vw;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: data;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  margin-left: 10%;
}

@media (max-width: 767px) {
  .case-study-main-header .content .group .data1 img {
    width: 100%;
    margin-left: 0;
  }
}

.case-study-main-header .content .group .grid {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: data2;
  display: -ms-grid;
  display: grid;
      grid-template-columns: auto;
      grid-template-areas: "im1 im2";
}

@media (max-width: 767px) {
  .case-study-main-header .content .group .grid {
        grid-template-areas: "im1" "im2";
  }
}

.case-study-main-header .content .group .data2 {
  margin-bottom: 4vw;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: im1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.case-study-main-header .content .group .data2 img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: im1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
}

@media (max-width: 767px) {
  .case-study-main-header .content .group .data2 img {
    width: 100%;
    margin-left: 0;
  }
}

.case-study-main-header .content .group .data3 {
  margin-bottom: 4vw;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: im2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.case-study-main-header .content .group .data3 img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: im2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  margin-left: 10%;
}

@media (max-width: 767px) {
  .case-study-main-header .content .group .data3 img {
    width: 100%;
    margin-left: 0;
  }
}

.case-study-main-header .content .group p2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: par1;
  color: #4e4e4e;
  background-color: #ebebeb;
  padding: 1rem;
  border-radius: 27px;
}

.case-study-main-header .content .group p2 hr {
  height: 2px;
  background-color: #464646;
  border-radius: 1px;
  border: none;
}

.case-study-main-header .content .group p4 {
  margin-top: 4vw;
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: par3;
  font-size: 25px;
}

@media (max-width: 767px) {
  .case-study-main-header .content .group p4 {
    font-size: 4vw;
  }
}

.case-study-main-header .content .group p5 {
  margin-top: 4vw;
  -ms-grid-row: 8;
  -ms-grid-column: 2;
  grid-area: par4;
  font-size: 25px;
}

@media (max-width: 767px) {
  .case-study-main-header .content .group p5 {
    font-size: 4vw;
  }
}

.case-study-main-header .content .conclusion {
  display: -ms-grid;
  display: grid;
  margin-top: 10vw;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: ". header ." ". par ." ". data1 ." ". par1 ."  ". par2 ." ". par3 ." ". data2 ." ". par4 .";
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
}

.case-study-main-header .content .conclusion p a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: grey;
}

.case-study-main-header .content .conclusion p a:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4215E6;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.case-study-main-header .content .conclusion p a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.show {
  display: block;
}

.case-studies-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15vw 35vw 35vw 15vw;
      grid-template-columns: 15vw 35vw 35vw 15vw;
  row-gap: 2vw;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
      grid-template-areas: ". header . ." ". filters . ."  ". study study ." ". study study ." ". more more .";
}

@media (max-width: 767px) {
  .case-studies-container {
        grid-template-areas: ". header header ." ". filters filters ." ". study study ." ". study study ." ". more more .";
  }
}

.case-studies-container h1 {
  font-weight: 700;
  font-size: 40px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
}

@media (max-width: 767px) {
  .case-studies-container h1 {
    font-size: 5vw;
  }
}

.case-studies-container h1 a {
  text-decoration: none;
  color: #E6802C;
}

.case-studies-container .coming-soon {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: more;
  margin-top: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.case-studies-container .coming-soon h1 {
  font-weight: 700;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 767px) {
  .case-studies-container .coming-soon h1 {
    font-size: 4vw;
  }
}

.case-studies-container #buttons {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: filters;
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
  font-size: 25px;
  color: #E6802C;
}

@media (max-width: 767px) {
  .case-studies-container #buttons {
    font-size: 3.5vw;
  }
}

.case-studies-container .btn {
  border: none;
  background: none;
  padding: 1rem;
  font-size: 25px;
}

@media (max-width: 767px) {
  .case-studies-container .btn {
    font-size: 3.5vw;
  }
}

.case-studies-container .objects {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: study;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "apple-music website" ". .";
}

@media (max-width: 767px) {
  .case-studies-container .objects {
        grid-template-areas: "apple-music" "website";
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.case-studies-container .objects .apple-music {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: apple-music;
}

.case-studies-container .objects .apple-music .visual {
  background-image: url("/assets/apple-music-visual.png");
}

@media (max-width: 767px) {
  .case-studies-container .objects .apple-music .visual {
    height: 45vw;
  }
}

.case-studies-container .objects .website {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: website;
}

.case-studies-container .objects .visual {
  border-radius: 27px;
  height: 23vw;
  -webkit-transition: -webkit-box-shadow ease-in-out .5s;
  transition: -webkit-box-shadow ease-in-out .5s;
  transition: box-shadow ease-in-out .5s;
  transition: box-shadow ease-in-out .5s, -webkit-box-shadow ease-in-out .5s;
}

.case-studies-container .objects .visual:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.case-studies-container .objects h1 a {
  display: inline-block;
  position: relative;
  padding: 16px;
  text-decoration: none;
  color: #E6802C;
  font-size: 50px;
  font-weight: 700;
}

.case-studies-container .objects h1 a:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4215E6;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.case-studies-container .objects h1 a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.case-studies-container .show {
  display: none;
}
/*# sourceMappingURL=style.css.map */