.case-study-main-header {
    display: grid;
    grid-template-areas: "sidebar hero ."
    "sidebar info ."
    "sidebar content .";
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: auto;

    @media (max-width: 767px) {
        grid-template-areas: ". hero ."
        ". info ."
        ". content .";
        grid-template-columns: 5vw 90vw 5vw;
    }

    .sidebar {
        position: fixed;
        grid-area: sidebar;
        margin-top: 30vh;
        // left: 2vw;
        text-align: center;

        @media (max-width: 1049px) {
            display: none;
        }

        ul {
            list-style: none;
            // padding: 10px;

            li {
                padding-bottom: 7px;
                padding-top: 7px;

                a {
                    text-decoration: none;
                    color: black;
                }
                a:hover {
                    cursor: pointer;
                }
            }

            hr {
                height: 1px;
                background-color: black;
            }
            hr.active {
                background-color: #4215E6;
                height: 2px;
            }
        }
    }

    .hero {
        grid-area: hero;
        display: grid;
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: 15vw 15vw;
        row-gap: 2vw;
        grid-template-areas: ". hero-top ." ". hero-bottom .";

        @media (max-width: 767px) {
            grid-template-columns: 5% 80% 15%;
        }

        h1 {
            grid-area: hero-top;
            font-weight: 700;
            font-size: 5vw;
            align-self: end;
            justify-self: center;
            color: #E6802C;

            @media (max-width: 767px) {
                font-size: 6vw;
            }
        }

        h2 {
            grid-area: hero-bottom;
            font-weight: 500;
            font-size: 2.5vw;
            justify-self: center;
            color: black;
            margin-right: 10vw;

            @media (max-width: 767px) {
                font-size: 3.5vw;
                margin-left: 50px;
            }
            
            span {
                font-weight: 600;
            }
            span1 {
                color: white;
                text-shadow: 2px 2px 5px black;
                
                @media (max-width: 767px) {
                    // color: black;
                    // text-shadow: none;
                }
            }
        }

        .visual {
            grid-area: hero-bottom;
            z-index: -1;
            // border: 1px solid grey;
            height: 40vw;
            width: 40vw;
            border-radius: 27px;
            // margin-left: 500px;
            // position: relative;
            // right: 200px;
            justify-self: end;
            align-self: end;
            background: url('/assets/new-apple-music-hero.png') no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

    .info {
        grid-area: info;
        margin-top: 5vw;
        display: grid;
        grid-template-columns: 15% 1fr 3fr 15%;
        grid-template-areas: 
        ". goal goal-info ."
        ". time time-info ." 
        ". tools tools-info .";
        row-gap: 7px;
        font-size: 22px;

        @media (max-width:767px) {
            font-size: 2.5vw;
        }

        .goal {
            grid-area: goal;
            border-bottom: 2px solid #4215E6;
            padding-bottom: 7px;
            align-self: end;
        }
        .goal-info {
            grid-area: goal-info;
            border-bottom: 2px solid #4215E6;
            text-align: right;
        }
        .time {
            grid-area: time;
            border-bottom: 2px solid #4215E6;
            padding-bottom: 7px;
        }
        .time-info {
            grid-area: time-info;
            border-bottom: 2px solid #4215E6;
            text-align: right;
        }
        .tools {
            grid-area: tools;
        }
        .tools-info {
            grid-area: tools-info;
            text-align: right;
        }
    }

    .content {
        grid-area: content;

        h1 {
            grid-area: header;
            font-weight: 700;
            font-size: 44px;

            @media (max-width: 767px) {
                font-size: 6vw;
            }
        }
        p {
            margin-top: 4vw;
            grid-area: par;
            font-size: 25px;

            @media (max-width: 767px) {
                font-size: 4vw;
            }
        }
        p2 {
            margin-top: 4vw;
            grid-area: par1;
            font-size: 25px;
            @media (max-width: 767px) {
                font-size: 4vw;
            }
        }
        p3 {
            margin-top: 4vw;
            grid-area: par2;
            font-size: 25px;
            @media (max-width: 767px) {
                font-size: 4vw;
            }
        }
        .overview {
            display: grid;
            margin-top: 10vw;
            grid-template-rows: auto auto;
            grid-template-areas: ". header ." ". par .";
            grid-template-columns: 10% 80% 10%;
            // h1 {
            //     grid-area: header;
            //     font-weight: 700;
            //     font-size: 44px;
            // }
            // p {
            //     margin-top: 4vw;
            //     grid-area: par;
            //     font-size: 25px;
            // }
        }
        .age {
            display: grid;
            margin-top: 10vw;
            grid-template-rows: auto auto auto auto;
            grid-template-areas: 
            ". header ."
            ". par ."
            ". data ."
            ". par1 .";
            grid-template-columns: 10% 80% 10%;
            svg {
                grid-area: data;
                margin-top: 4vw;
                width: 100%;
                height: auto;
                // margin-left: 15%;

                @media (max-width: 767px) {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
        .survey {
            display: grid;
            margin-top: 10vw;
            grid-template-rows: auto;
            grid-template-areas: ". header ." ". par ." ". data ." ". subtext ." ". par1 ." ". data2 ." ". par2 .";
            grid-template-columns: 10% 80% 10%;
            // h1 {
            //     grid-area: header;
            //     font-weight: 700;
            //     font-size: 44px;
            // }
            // p {
            //     margin-top: 4vw;
            //     grid-area: par;
            //     font-size: 25px;
            // }
            // p2 {
            //     margin-top: 4vw;
            //     grid-area: par1;
            //     font-size: 25px;
            // }
            // p3 {
            //     margin-top: 4vw;
            //     grid-area: par2;
            //     font-size: 25px;
            // }
            img {
                margin-top: 4vw;
                grid-area: data;
                justify-self: center;
                align-self: center;
                width: 70%;

                @media (max-width: 767px) {
                    width: 100%;
                    margin-left: 0;
                }
            }
            sub {
                grid-area: subtext;
                justify-self: center;
                text-align: center;
                color: grey;
                font-style: italic;
            }
            .data2 {
                grid-area: data2;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: auto;
                margin-bottom: 4vw;
                grid-template-areas: "importance achievability";

                @media (max-width: 767px) {
                    grid-template-areas: "importance" "achievability";
                    grid-template-columns: 100%;
                }
                .importance, .achievability {
                    justify-content: center;
                    text-align: center;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .loves {
            display: grid;
            margin-top: 10vw;
            grid-template-rows: auto auto;
            grid-template-areas: ". header ." ". par ." ". data1 ." ". par1 ." ". data2 ." ". par2 ." ". par3 ." ". data3 ." ". par4 .";
            grid-template-columns: 10% 80% 10%;
            // h1 {
            //     grid-area: header;
            //     font-weight: 700;
            //     font-size: 44px;
            // }
            // p {
            //     margin-top: 4vw;
            //     grid-area: par;
            //     font-size: 25px;
            // }
            .data1 {
                margin-top: 4vw;
                grid-area: data1;
                justify-self: center;
                img {
                    margin-top: 4vw;
                    grid-area: data;
                    justify-self: center;
                    align-self: center;
                    width: 80%;
                    margin-left: 10%;

                    @media (max-width: 767px) {
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }
            .grid2 {
                grid-area: data3;
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: "im1 im2";
                @media (max-width: 767px) {
                    grid-template-areas: "im1" "im2";
                }

                .data2 {
                    // margin-top: 4vw;
                    margin-bottom: 4vw;
                    grid-area: im1;
                    justify-self: center;
                    align-self: center;
                    // float: left;

                    img {
                        // margin-top: 4vw;
                        grid-area: im1;
                        justify-self: center;
                        align-self: center;
                        width: 100%;
                        // margin-left: 10%;

                        @media (max-width: 767px) {
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }
                .data3 {
                    // margin-top: 4vw;
                    margin-bottom: 4vw;
                    grid-area: im2;
                    justify-self: center;
                    align-self: center;

                    img {
                        // margin-top: 4vw;
                        grid-area: im2;
                        justify-self: center;
                        align-self: center;
                        width: 20vw;
                        margin-left: 10%;

                        @media (max-width: 767px) {
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }
            }
                .grid {
                grid-area: data2;
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: "im1 im2";
                @media (max-width: 767px) {
                    grid-template-areas: "im1" "im2";
                }
            

                }
                .data2 {
                    // margin-top: 4vw;
                    margin-bottom: 4vw;
                    grid-area: im1;
                    justify-self: center;
                    align-self: center;
                    // float: left;

                    img {
                        // margin-top: 4vw;
                        grid-area: im1;
                        justify-self: center;
                        align-self: center;
                        width: 100%;
                        // margin-left: 10%;

                        @media (max-width: 767px) {
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }
                .data3 {
                    // margin-top: 4vw;
                    margin-bottom: 4vw;
                    grid-area: im2;
                    justify-self: center;
                    align-self: center;

                    img {
                        // margin-top: 4vw;
                        grid-area: im2;
                        justify-self: center;
                        align-self: center;
                        width: 20vw;
                        margin-left: 10%;

                        @media (max-width: 767px) {
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }
                p4 {
                    margin-top: 4vw;
                    grid-area: par3;
                    font-size: 25px;
                    @media (max-width: 767px) {
                        font-size: 4vw;
                    }
                }
                p5 {
                    margin-top: 4vw;
                    grid-area: par4;
                    font-size: 25px;
                    @media (max-width: 767px) {
                        font-size: 4vw;
                    }
                }
            // p2 {
            //     margin-top: 4vw;
            //     grid-area: par1;
            //     font-size: 25px;
            // }
            // p3 {
            //     margin-top: 4vw;
            //     grid-area: par2;
            //     font-size: 25px;
            // }
        }
        .group {
            display: grid;
            margin-top: 10vw;
            grid-template-rows: auto auto;
            grid-template-areas: ". header ." ". par ." ". data1 ." ". par1 ."  ". par2 ." ". par3 ." ". data2 ." ". par4 .";
            grid-template-columns: 10% 80% 10%;
            // h1 {
            //     grid-area: header;
            //     font-weight: 700;
            //     font-size: 44px;
            // }
            // p {
            //     margin-top: 4vw;
            //     grid-area: par;
            //     font-size: 25px;
            // }
            .data1 {
                margin-top: 4vw;
                grid-area: data1;
                justify-self: center;
                img {
                    margin-top: 4vw;
                    grid-area: data;
                    justify-self: center;
                    align-self: center;
                    width: 80%;
                    margin-left: 10%;

                    @media (max-width: 767px) {
                        width: 100%;
                        margin-left: 0;
                    }
                }
            }
            .grid {
                grid-area: data2;
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: "im1 im2";
                @media (max-width: 767px) {
                    grid-template-areas: "im1" "im2";
                }

            }
                .data2 {
                    // margin-top: 4vw;
                    margin-bottom: 4vw;
                    grid-area: im1;
                    justify-self: center;
                    align-self: center;
                    // float: left;

                    img {
                        // margin-top: 4vw;
                        grid-area: im1;
                        justify-self: center;
                        align-self: center;
                        width: 80%;
                        // margin-left: 10%;

                        @media (max-width: 767px) {
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }
                .data3 {
                    // margin-top: 4vw;
                    margin-bottom: 4vw;
                    grid-area: im2;
                    justify-self: center;
                    align-self: center;

                    img {
                        // margin-top: 4vw;
                        grid-area: im2;
                        justify-self: center;
                        align-self: center;
                        width: 100%;
                        margin-left: 10%;

                        @media (max-width: 767px) {
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }
            
            p2 {
                grid-area: par1;
                color: rgb(78, 78, 78);
                background-color: rgb(235, 235, 235);
                padding: 1rem;
                border-radius: 27px;
                hr {
                    height: 2px;
                    background-color: rgb(70, 70, 70);
                    border-radius: 1px;
                    border: none;
                    // padding-top: 10px;
                }
            }
            p4 {
                margin-top: 4vw;
                grid-area: par3;
                font-size: 25px;
                @media (max-width: 767px) {
                    font-size: 4vw;
                }
            }
            p5 {
                margin-top: 4vw;
                grid-area: par4;
                font-size: 25px;
                @media (max-width: 767px) {
                    font-size: 4vw;
                }
            }
        }
        .conclusion {
            display: grid;
            margin-top: 10vw;
            grid-template-rows: auto auto;
            grid-template-areas: ". header ." ". par ." ". data1 ." ". par1 ."  ". par2 ." ". par3 ." ". data2 ." ". par4 .";
            grid-template-columns: 10% 80% 10%;

            p {

                a {
                    display: inline-block;
                    position: relative;
                    text-decoration: none;
                    color: grey;
                    }
        
                a:after {
                    content:'';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: #4215E6;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }
        
                a:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }
    }
}

.show {
    display:block;
}


.case-studies-container {
    display: grid;
    grid-template-columns: 15vw 35vw 35vw 15vw;
    row-gap: 2vw;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    ". header . ."
    ". filters . ." 
    ". study study ."
    ". study study ."
    ". more more .";

    @media (max-width: 767px) {
        grid-template-areas: 
        ". header header ."
        ". filters filters ."
        ". study study ."
        ". study study ."
        ". more more .";
    }

    h1 {
        font-weight: 700;
        font-size: 40px;
        grid-area: header;

        @media (max-width: 767px) {
            font-size: 5vw;
        }

        a {
            text-decoration: none;
            color: #E6802C;
        }
    }

    .coming-soon {
        grid-area: more;
        margin-top: 40px;
        align-self: center;
        justify-self: center;

        h1 {
            font-weight: 700;
            align-self: center;
            justify-self: center;

            @media (max-width: 767px) {
                font-size: 4vw;
            }
        }
    }

    #buttons {
        grid-area: filters;
        justify-self: left;
        align-self: center;
        text-align: left;
        font-size: 25px;
        color: #E6802C;

        @media (max-width: 767px) {
            font-size: 3.5vw;
        }
    }

    .btn {
        border: none;
        background: none;
        padding: 1rem;
        font-size: 25px;

        @media (max-width: 767px) {
            font-size: 3.5vw;
        }
    }

    .objects {
        grid-area: study;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas: "apple-music website"
        ". .";

        @media (max-width: 767px) {
            grid-template-areas: "apple-music"
            "website";
            grid-template-columns: 100%;

        }
    
        .apple-music {
            grid-area: apple-music;
            .visual {
                background-image: url("/assets/apple-music-visual.png");
                
                @media (max-width: 767px) {
                    height: 45vw;
                }
            }
        }
        
        .website {
            grid-area: website;
        }

        .visual {
            border-radius: 27px;
            // width: 50%; 
            height: 23vw;
            transition: box-shadow ease-in-out .5s;
        }

        .visual:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        h1 {
            
            a {
                display: inline-block;
                position: relative;
                padding: 16px;
                text-decoration: none;
                color: #E6802C;
                font-size: 50px;
                font-weight: 700;
            }
            a:after {
                content:'';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #4215E6;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }
    
            a:hover:after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }

        
    }

    .show {
        display: none;
    }

}